@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mrn-top-70">
    <h1>Новинки</h1>
    <hr />
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-1">      
        @for (int i = 0; i < 3; i++)
        {
            <div class="my-border">
                <h3><a href="/Book?BookId=@(ViewBag.Books[i].BookId)">@(ViewBag.Books[i].Title)</a></h3>
                @if (ViewBag.Books[i].Authors != String.Empty)
                {
                    <p><b>Авторы:</b> @ViewBag.Books[i].Authors</p>
                }

                @if (ViewBag.Books[i].Genres != String.Empty)
                {
                    <p><b>Жанры:</b> @ViewBag.Books[i].Genres</p>
                }

                @if (ViewBag.Books[i].YearOfPublishing != null)
                {
                    <p><b>Год издания:</b> @(ViewBag.Books[i].YearOfPublishing)</p>
                }
                @if (ViewBag.Books[i].PublishingHouse != null)
                {
                    <p><b>Издательство:</b> @(ViewBag.Books[i].PublishingHouse.Name)</p>
                }
            </div>
        }
    </div>
</div>